body {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: row;
  flex: auto;
}

article {
  flex: 2;
  overflow-y: auto;
}

aside {
  flex: 1;
  overflow-y: auto;
}
/* li a {
  color: #ffffff;
}
li.active_page {
  background-color: #DB3E3E;
  } */

  