a {
  color: #D72289;
}


article {
  flex: 2;
  overflow-y: auto;
}

aside {
  flex: 1;
  overflow-y: auto;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #343642;
  color: #fff ;
}

header a {
  color: #F8EC39;
}

li a:hover{
  color: #D72289;
  background-color: #F8EC39;
  padding: 4px;
  border-radius: 4px;
}

li a img{
  max-width: 50px;
} 

li.active_page {
  background-color: #D72289;
  padding: 4px;
  border-radius: 4px;
  }
  
li.active_page a{
  color: #F8EC39;
  }


main {
  display: flex;
  flex-direction: row;
  flex: auto;
}


span.color {
  color: #D72289;
}
