body {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: row;
  flex: auto;
}

article {
  flex: 2;
  overflow-y: auto;
}

aside {
  flex: 1;
  overflow-y: auto;
}

/* h1, h2, h3, h4 {
  color: #db3e3e;
}
li a {
  color: #db3e3e;
} */
/* li.active_page {
  background-color: #DB3E3E;
  } */

  